<body>
  

<div class="container">
  <div class="login-form">
    <h1 class="title">User Login</h1>
    <form #userLoginForm="ngForm" (ngSubmit)="loginuser(userLoginForm)">
      
        <div class="input-field">
          <label for="userEmailId"></label>
          <input type="email" placeholder="Email address" class="form-control" name="userEmailId" ngModel required>
        </div>
        <div class="input-field">
          <label for="userPassword"></label>
          <input type="password" placeholder="Password" class="form-control" name="userPassword"  ngModel required>
        </div>
        <br>
        <button [disabled]="!userLoginForm.valid" class="btn login">Login user</button>
        
      </form>
<br>
        <p style="color: black; font-size: medium;"> New User?</p>        <button (click)="gotoRegisterUser()" class="btn login">Register</button>
    </div>
  </div>

</body>