<p>form-pg2 works!</p>

<table>
    <tr><td>A/C No.:</td><td>{{this.acc.accNo}}</td></tr>
    
    <tr><td>Bank Name:</td><td>{{this.acc.bankName}}</td></tr>
    <tr><td>IFSC Code:</td><td>{{this.acc.accIFSC}}</td></tr>
    <tr><td>Account Type:</td><td>{{this.acc.accType}}</td></tr>
    <tr><td>User Employement Type:</td><td>{{this.acc.userEmpType}}</td></tr>
    <tr><td>Monthly Salary:</td><td>{{this.acc.monthlySalary}}</td></tr>
    <tr><td>Existing EMI:</td><td>{{this.acc.existingEMI}}</td></tr>
  
</table>




<button (click)="gotoFormPg3()">Next</button>
