/*.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}
.container{
    width: 800px;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}
*/

.container{
    width: 700px;
    margin-top: -35%;
    font-size: medium;
}

body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    font-family:sans-serif;
    background:#FAF2EA;
    background-image: linear-gradient(to bottom right, rgb(214, 188, 188), rgb(170, 12, 12));
  }