<div class="container">
<h1 style="font-weight: bold; text-align: center;" >APROOVED USER LOANS</h1>
<table class="table table-bordered table-hover table-light ">
    <thead>
        <tr>
        <th scope="col" >User ID</th>
        <th  scope="col" >Loan ID</th>
        <th  scope="col" >Details</th> 
        <th  scope="col" >Status</th>
        </tr>
    </thead>  

    <tbody>
        <tr *ngFor="let l of AproovedLoanArray" >
                <td scope="row" >{{l.userLogin.userId}}</td>
                <td >{{l.loanId}} </td>
                <td ><button (click)="gotoViewDetails(l.userLogin.userId)" class="btn btn-outline-secondary"> View Details</button></td>
                <td >{{ l.applicationStatus}}</td>  
        </tr>
</tbody>
</table></div>