
<div class="container">
  <div class="login-form">
    <h1 class="title">User Registration</h1>
    <form #userRegisterForm="ngForm" (ngSubmit)="registerUser(userRegisterForm)">
        <div class="input-field">
          <label for="userEmailId"></label>
          <input type="email" class="form-control" name="userEmailId" placeholder="Email address" ngModel required>
        </div>
        <div class="input-field">
            <label for="userFirstName"></label>
            <input type="text" class="form-control" name="userFirstName" placeholder="First Name" ngModel required>
          </div>

        <div class="input-field">
          
            <label for="userLastName"></label>
            <input type="text" class="form-control" name="userLastName" placeholder="Last Name" ngModel required>
        </div>
        
        
        <div class="input-field">
          <label for="userAge"></label>
          <input type="number" class="form-control" name="userAge" placeholder="Age" ngModel required>
        </div>

        <div class="input-field">
          <label for="userAddress"></label>
          <input type="text" class="form-control" name="userAddress" placeholder="Address" ngModel required>
        </div>

        <div class="input-field">
          <label for="city"></label>
          <input type="text" class="form-control" name="city" placeholder="City" ngModel required>
        </div>

        <div class="input-field">
          <label for="state"></label>
          <input type="text" class="form-control" name="state" placeholder="State" ngModel required>
        </div>

        <div class="input-field">
          <label for="pincode"></label>
          <input type="number" class="form-control" name="pincode" placeholder="Pincode" ngModel required>
        </div>

       

        <div class="input-field">
          <label for="userPassword"></label>
          <input type="password" class="form-control" name="userPassword" placeholder="Password" ngModel required>
        </div>
        <br>
        <div class="radiobtn">

          <label for="userGender">&nbsp;&nbsp;Gender:&nbsp;&nbsp;</label> 
          <input  type="radio" value="male" name="userGender" ngModel> Male 
          <input type="radio" value="female" name="userGender" ngModel> Female 
          <input type="radio" value="other" name="userGender" ngModel> Other
          </div>
          <br>
        <button type="submit" [disabled]="!userRegisterForm.valid" class="btn login">Register</button>
        
      </form>
    
    </div> 
    </div>