<body>
  

<div class="container">
  <div class="login-form">
  <h1 class="title" >Admin Login</h1>
<form #adminLoginForm="ngForm" (ngSubmit)="loginAdmin(adminLoginForm)">
    <div  class="input-field">
      <label for="EmailId"></label>
      <input type="email" class="form-control" name="emailId" placeholder="Email address" ngModel required>
    </div>
    <div  class="input-field">
      <label for="Password"></label>
      <input type="password" class="form-control" name="password" placeholder="Password" ngModel required>
    </div>
    <br>
    <button type="submit" [disabled]="!adminLoginForm.valid" class="btn login">Login</button>

  </form>
</div>
</div>
</body>