<body>
  
<div class="container">
  <div class="login-form">
    <h1 class="title">Loan Details</h1>
    
  <form #loanDetailsForm="ngForm" (ngSubmit)="applyForLoan(loanDetailsForm)">
      <div class="input-field">
        <label for="loanAmount"></label>
        <input [disabled]="dis" placeholder="Loan Amount" type="number" class="form-control" name="loanAmount" ngModel required>
      </div>
      <div class="input-field">
        <label for="interestRate"></label>
        <input [disabled]="disable"  type="number" class="form-control" name="interestRate" placeholder="Interest Rate: 5%" ngModel required>
      </div>

      <div class="input-field">
        <label for="tenure"></label>
        <input [disabled]="dis" placeholder="Loan Tenure" type="number" class="form-control" name="tenure" placeholder="In Months"  ngModel required>
      </div>
      <br>
      <button type="submit" [disabled]="!loanDetailsForm.valid" class="btn login">Calculate EMI</button>
  
    </form>

      


<ng-container *ngIf="flag;">
 <h2 style="font-weight: bold; color: black;"> EMI: {{loan.emi}}</h2>


  <button (click)="gotoFormPage1()" class="btn login">Apply Now</button>
  
</ng-container>
  </div>
</div>



</body>


<br><br>

<!--
<button (click)="updateLoanDetails(loanDetailsForm)">Change Details</button>
-->