
<div class="container">
    <h2 >Vehicle Details</h2>
    <form #vehicleDetailsForm="ngForm" (ngSubmit)="vehicleDetails(vehicleDetailsForm)">
      
        <div class="form-group">
          <label for="vehicleId">Vehicle Id:</label>
          <input type="text" class="form-control" name="vehicleId" ngModel required>
        </div>
        <div class="form-group">
          <label for="exShowroomPrice">ExShow room Price:</label>
          <input type="number" class="form-control" name="exShowroomPrice"  ngModel required>
        </div>
        <div class="form-group">
          <label for="onRoadPrice">OnRoad Price</label>
          <input type="number" class="form-control" name="onRoadPrice"  ngModel required>
        </div>
        <div class="form-group">
            <label for="vehicleColour">vehicle Colour</label>
            <input type="text" class="form-control" name="vehicleColour"  ngModel required>
          </div>
          <div class="form-group">
            <label for="vehicleName">Vehicle Name</label>
            <input type="text" class="form-control" name="vehicleName"  ngModel required>
          </div>
          <div class="form-group">
            <label for="vehicleModel">Vehicle Model</label>
            <input type="text" class="form-control" name="vehicleModel"  ngModel required>
          </div>
          <div class="form-group">
            <label for="vehicleType">Vehicle Type</label>
            <input type="text" class="form-control" name="vehicleType"  ngModel required>
          </div>
          <div class="form-group">
            <label for="vehicleYear">Vehicle Year</label>
            <input type="number" class="form-control" name="vehicleYear"  ngModel required>
          </div>
  
  <br>
        <button type="submit" [disabled]="!vehicleDetailsForm.valid" class="btn btn-info">Save & next</button>
        
      </form>
    </div>


    <br><br>
   
    