<p>form-pg1 works!</p>

All User details

<table>
    <tr><td>USER ID:</td><td>{{this.user.userId}}</td></tr>
    <tr><td>Email ID:</td><td>{{this.user.userEmailId}}</td></tr>
    <tr><td>First Name:</td><td>{{this.user.userFirstName}}</td></tr>
    <tr><td>Last Name:</td><td>{{this.user.userLastName}}</td></tr>
    <tr><td>Address:</td><td>{{this.user.userAddress}}</td></tr>
    <tr><td>City:</td><td>{{this.user.city}}</td></tr>
    <tr><td>State:</td><td>{{this.user.state}}</td></tr>
    <tr><td>Pincode:</td><td>{{this.user.pincode}}</td></tr>
    <tr><td>Age:</td><td>{{this.user.userAge}}</td></tr>
    <tr><td>Gender:</td><td>{{this.user.userGender}}</td></tr>
</table>

<button (click)="gotopg2()">Next</button>
