<h1 class="userhead_align">USER DASHBOARD</h1>



   


<div class="user_group">
    <h2 class="userhead_align">Loan Details</h2>
      <table class="table ">
         
        <tr><td>Loan ID</td><td>{{this.loan.loanId}}</td></tr><br>
        <tr><td>Loan Amount</td><td>{{this.loan.loanAmount}}</td></tr><br>
        <tr><td>Interest Rate</td><td>{{this.loan.interestRate}}</td></tr><br>
        <tr><td>Loan tenure</td><td>{{this.loan.tenure}} months</td></tr><br>
        <tr><td>EMI</td><td>{{this.loan.emi}}</td></tr><br>
        <tr><td>Status</td><td>{{this.loan.applicationStatus}}</td></tr><br>
        <tr><td>Loan type</td><td>{{this.loan.loantype}}</td></tr><br>
        <tr><td>Loan Start Date</td><td>{{this.loan.loanStartDate}}</td></tr><br>

        <tr><td>Loan End Date</td><td>{{this.loan.loanEndDate}}</td></tr><br>
        <tr><td>Processing fees</td><td>{{this.loan.processingFee}}</td></tr>
      </table>
    <button (click)="gotoHome()" class="btn btn-dark">Logout</button>
   </div>
    


 