.container{
    width: 700px;
    margin-top: -35%;
    font-size: medium;
}
body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    font-family:sans-serif;
    background:#FAF2EA;
    background-image: linear-gradient(to bottom right, rgb(214, 188, 188), rgb(170, 12, 12));
  }