<div *ngIf="!isELigible" class="error-msg">
        
    <h1 style="color: red; text-align: center;">Not eligible</h1> 
 </div>
<div class="container">
<form #UserAccountDetailsForm="ngForm" (ngSubmit)="useraccdetails(UserAccountDetailsForm)" class="form">
    <br>
    <h2>Bank Account Details</h2><br>
    <div class="form-group">
        <label>Account Number</label>
        <input type="text" class="form-control" name="accNo" ngModel required>
    </div>
    <div class="form-group">
        <label>Bank Name</label>
        <input type="text" class="form-control" name="bankName" ngModel required>
    </div>
    <div class="form-group">
        <label>IFSC Code</label>
        <input type="text" class="form-control" name="accIFSC" ngModel required>
    </div>
    <div class="form-group">
        <label>Account Type</label>
        <input type="text" class="form-control" name="accType" ngModel required>
    </div>
    <div class="form-group">
        <label>Employement Type</label>
        <input type="text" class="form-control" name="userEmpType" ngModel required>
    </div>
    <div class="form-group">
        <label>Salary Per Month</label>
        <input type="text" class="form-control" name="monthlySalary" ngModel required>
    </div>

<br>
    <div  >
        <label for="existingEMI">Do You Have Any Exsiting EMI?</label> <br>
        <input  type="radio" value="true" name="existingEMI" ngModel>True
        <input type="radio" value="false" name="existingEMI" ngModel> False 
      
        </div>
    <br>
    
    <div>
       
        <button type="submit" [disabled]="!UserAccountDetailsForm.valid" class="btn btn-info">Check Eligibility</button>
     </div>

</form>
</div>